.pc-animation {
display: none;
svg {
    width: 80vw;
    position: absolute;
    top: 25%;
    left: 25%;
    
}

    .st0{fill:#FFFFFF;}
	.st1{opacity:0.56;fill:#96A9BD;}
	.st2{opacity:0.46;fill:#96A9BD;}
	.st3{enable-background:new    ;}
	.st4{fill:#C2E7FF;}
	.st5{fill:#92BADF;}
	.st6{fill:#92BADE;}
	.st7{fill:#A5CDF1;}
	.st8{fill:#A0C9ED;}
	.st9{fill:#B5DDFF;}
	.st10{fill:#B3DBFF;}
	.st11{fill:#BFE5FF;}
	.st12{fill:#BAE0FF;}
	.st13{clip-path:url(#SVGID_2_);fill:#96BEE2;}
	.st14{clip-path:url(#SVGID_4_);enable-background:new    ;}
	.st15{fill:#96BEE2;}
	.st16{clip-path:url(#SVGID_6_);enable-background:new    ;}
	.st17{fill:#91B9DE;}
	.st18{fill:#C1E6FF;}
	.st19{clip-path:url(#SVGID_8_);enable-background:new    ;}
	.st20{fill:#BEE4FF;}
	.st21{fill:#9FC7EB;}
	.st22{clip-path:url(#SVGID_10_);enable-background:new    ;}
	.st23{fill:#A0C8EC;}
	.st24{fill:#A4CDF1;}
	.st25{fill:#9AC3E8;}
	.st26{clip-path:url(#SVGID_12_);enable-background:new    ;}
	.st27{fill:#9AC3E7;}
	.st28{fill:#B5DCFF;}
	.st29{fill:#B3DCFF;}
	.st30{clip-path:url(#SVGID_14_);enable-background:new    ;}
	.st31{fill:#AED7FB;}
	.st32{fill:#AFD7FB;}
	.st33{clip-path:url(#SVGID_16_);enable-background:new    ;}
	.st34{fill:#A9D2F6;}
	.st35{clip-path:url(#SVGID_18_);enable-background:new    ;}
	.st36{fill:#B4DCFF;}
	.st37{fill:#B6DDFF;}
	.st38{fill:#BDE3FF;}
	.st39{clip-path:url(#SVGID_20_);enable-background:new    ;}
	.st40{clip-path:url(#SVGID_22_);enable-background:new    ;}
	.st41{fill:#B7DDFF;}
	.st42{fill:#B0D8FC;}
	.st43{fill:#96BFE3;}
	.st44{fill:#E6FFFF;}
	.st45{fill:#99C1E6;}
	.st46{fill:#97C1E4;}
	.st47{fill:#A6D0F3;}
	.st48{fill:#BCE2FF;}
	.st49{clip-path:url(#SVGID_24_);enable-background:new    ;}
	.st50{fill:#9AC3E6;}
	.st51{fill:#9FC8EB;}
	.st52{fill:#A4CDF0;}
	.st53{fill:#A8D2F5;}
	.st54{fill:#AED7FA;}
	.st55{fill:#B2DCFF;}
	.st56{fill:#B4DBFF;}
	.st57{fill:#B5DEFF;}
	.st58{fill:#B9E0FF;}
	.st59{fill:#C4E9FF;}
	.st60{fill:#9CC3E8;}
	.st61{clip-path:url(#SVGID_26_);enable-background:new    ;}
	.st62{clip-path:url(#SVGID_28_);enable-background:new    ;}
	.st63{fill:#C1E8FF;}
	.st64{fill:#ACD5F8;}
	.st65{clip-path:url(#SVGID_30_);enable-background:new    ;}
	.st66{clip-path:url(#SVGID_32_);enable-background:new    ;}
	.st67{fill:#B0D8FD;}
	.st68{fill:#C2E9FF;}
	.st69{fill:#EAFFFF;}
	.st70{fill:#9AC1E2;}
	.st71{fill:#9FC4E5;}
	.st72{fill:#BBE0FF;}
	.st73{fill:#C7EAFF;}
	.st74{clip-path:url(#SVGID_34_);enable-background:new    ;}
	.st75{fill:#97BEDF;}
	.st76{fill:#9DC3E4;}
	.st77{fill:#A2C8E9;}
	.st78{fill:#A7CEEE;}
	.st79{fill:#ADD3F3;}
	.st80{fill:#B2D8F8;}
	.st81{fill:#B7DDFD;}
	.st82{fill:#BCE1FF;}
	.st83{clip-path:url(#SVGID_36_);enable-background:new    ;}
	.st84{fill:#92B9DA;}
	.st85{fill:#C5E8FF;}
	.st86{clip-path:url(#SVGID_38_);enable-background:new    ;}
	.st87{fill:#A9D0F0;}
	.st88{fill:#C3E6FF;}
	.st89{clip-path:url(#SVGID_40_);enable-background:new    ;}
	.st90{fill:#ACD2F2;}
	.st91{clip-path:url(#SVGID_42_);enable-background:new    ;}
	.st92{clip-path:url(#SVGID_44_);enable-background:new    ;}
	.st93{fill:#B8DEFE;}
	.st94{fill:#C0E4FF;}
	.st95{clip-path:url(#SVGID_46_);enable-background:new    ;}
	.st96{fill:#95BCDD;}
	.st97{fill:#BEE2FF;}
	.st98{fill:#EDFFFF;}
	.st99{fill:#98BFE0;}
	.st100{fill:#163F59;}
	.st101{fill:#DECCAF;}
	.st102{fill:#E9D6B8;}
	.st103{fill:#F99B1C;}
	.st104{fill:#0063CB;}
	.st105{fill:#0253A2;}
	.st106{fill:#FFAA00;}
	.st107{fill:#E9DBC4;}
	.st108{fill:#194866;}
	.st109{fill:#FEC00F;}
	.st110{fill:#89D5DA;}
	.st111{fill:#E2C59C;}
	.st112{fill:#73A9FF;}
	.st113{fill:#7DC2F5;}
	.st114{fill:#387BFF;}
	.st115{fill:#8DCFFF;}
	.st116{fill:#D0DEE6;}
	.st117{fill:#B6C2C9;}
	.st118{fill:#001F46;}
	.st119{fill:#E5E8EC;}
	.st120{fill:#F4DA80;}
	.st121{fill:#2162A3;}
	.st122{fill:#081832;}
	.st123{fill:#E4EEF3;}
  
  #engrane1 {
  animation: topropa 900ms ease-in-out 0ms infinite alternate;
} 
  
  #engrane2 {
  animation: topropa 800ms ease-in-out 0ms infinite alternate;
} 
  
  #engrane3 {
  animation: topropa 700ms ease-in-out 0ms infinite alternate;
} 


  @keyframes topropa{
    0% {
      transform: translateX(0px) translateY(0px);
    }    
    
    100%{
        transform:translateX(1px) translateY(2px);      
    }
  } 


@keyframes brillo {
    0% {
      transform: translateX(0px) translateY(0px);
      filter: brightness(100%);
    }    
    
    100%{
        transform:translateX(1px) translateY(2px);             filter: brightness(110%);
    }
  }  

@keyframes brillofoco {
    0% {
      transform: translateX(0px) translateY(0px);
      filter: brightness(110%);
    }    
    
    100%{
        transform:translateX(1px) translateY(2px);             
        filter: brightness(120%);
    }
  }  

@keyframes move {
    0% {
      transform: translateX(0px) translateY(0px);
      filter: brightness(100%);
    }    
    
    100%{
        transform:translateX(1px) translateY(6px);             
        filter: brightness(130%);
    }
  }  



 #persona {
  animation: brillofoco 1800ms ease-in-out 0ms infinite alternate;
} 



 #foco {
  animation: brillofoco 900ms ease-in-out 0ms infinite alternate;
}  


 #persona2 {
  animation: move 1600ms ease-in-out 0ms infinite alternate;
}  

 #persona3 {
  animation: brillofoco 1200ms ease-in-out 0ms infinite alternate;
}  


 #persona4 {
  animation: move 1800ms ease-in-out 0ms infinite alternate;
} 

 #sombra {
  animation: brillo 500ms ease-in-out 0ms infinite alternate;
}  


#laptop {
  animation: brillo 500ms ease-in-out 0ms infinite alternate;
}
}